{#
/**
 * @file
 * Template for a Article component, teaser mod.
 */
#}
{%
    set classes = [
    'node',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    node.bundle|clean_class,
    node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
    'row'
  ]
  %}
  <article{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if node.title[0].value %}
        <span class="h4 col-md-12" href="{{ path('entity.node.canonical', {'node': node.id}) }}">
          {{ title_prefix }}
          <a href="{{ path('entity.node.canonical', {'node': node.id}) }}">
            {{ node.title[0].value }}
          </a>
          {{ title_suffix }}
        </span>
      {% endif %}
      {% if content.field_image[0]|length > 0 %}
          <div class="col-md-2">{{ content.field_image }}</div>
          <div class="col-md-10 pl-3">{{ content|without('field_image') }}</div>
      {% else %}
      <div class="col-md-12">
        {{ content }}
      </div>
      {% endif %}
    {% endblock %}
  </article>
