{#
/**
 * @file
 * Template for the main page.
 */
#}
<div class="page">
  {% embed '@mustafa_radix/navbar/navbar_social.twig' with {
    placement: fix_social ? 'fixed-top' : '',
    container: fix_social ? 'fixed' : '',
    color: 'dark',
    height: '1.5rem',
    utility_classes: ['bg-secondary', 'p-0', 'justify-content-center'],
  } %}
  {% endembed %}

  {% embed '@mustafa_radix/navbar/navbar.twig' with {
    placement: fix_navbar ? 'sticky-top' : '',
    container: fix_navbar ? 'fixed' : '',
    margin_top: fix_social ? '1.5rem' : '',
    color: 'light',
    utility_classes: ['bg-light'],
  } %}

    {% block branding %}
      {% if page.navbar_branding %}
        {{ page.navbar_branding }}
      {% endif %}
    {% endblock %}

    {% block left %}
      {% if page.navbar_left %}
        <div class="mr-auto">
          {{ page.navbar_left }}
        </div>
      {% endif %}
    {% endblock %}

    {% block center %}
      {% if page.navbar_center %}
        <div class="mr-auto">
          {{ page.navbar_center }}
        </div>
      {% endif %}
    {% endblock %}

    {% block right %}
      {% if page.navbar_right %}
        {{ page.navbar_right }}
      {% endif %}
    {% endblock %}

  {% endembed %}

  <main class="container py-5 overflow-auto">
    {% block header %}
    {% if page.header %}
      <header class="row mb-3 page__header">
        <div class="col-12">
          {{ page.header }}
        </div>
      </header>
    {% endif %}
    {% endblock %}

    <div class="row">
      {% block sidebars %}
      {% if page.sidebar_first or page.sidebar_second %}
      <div class="col-lg-3 order-2">
        <div class="row">
          {% block sidebar_first %}
          {% if page.sidebar_first %}
          <div class="col-12 sidebar_first">
            {{ page.sidebar_first }}
          </div>
          {% endif %}
          {% endblock %}

          {% block sidebar_second %}
          {% if page.sidebar_second %}
          <div class="col-12 sidebar_second">
            {{ page.sidebar_second }}
          </div>
          {% endif %}
          {% endblock %}
        </div>
      </div>
      {% endif %}
      {% endblock %}
      <div class="col-lg-9 order-1 highlighted">
        {% block highlighted %}
        {% if page.highlighted %}
        <div class="row my-2">
         <div class="col-12">
          {{ page.highlighted }}
         </div>
        </div>
        {% endif %}
        {% endblock %}
    
        {% block top %}
        {% if page.top %}
        <div class="row">
          <div class="col-12">
            {{ page.top }}
          </div>
        </div>
        {% endif %}
        {% endblock %}

        {% block content %}
        {% if page.content %}
        {{ page.content }}
        {% endif %}
        {% endblock %}
  
        {% block bottom %}
        {% if page.bottom %}
        <div class="row">
          <div class="col-12">
            {{ page.bottom }}
          </div>
        </div>
        {% endif %}
        {% endblock %}
  
      </div>
    </div>
  </main>

  {% if page.footer %}
    <footer class="page__footer">
      <div class="container">
        <div class="d-flex justify-content-md-between align-items-md-center">
          {{ page.footer }}
        </div>
      </div>
    </footer>
  {% endif %}
</div>
